In [53]:
l=[9,5,7,180,6,7,235,78,99]

In [54]:
#Answer1:
sum=0
for i in l:
    sum+=i
print(sum)

626

In [55]:
#Answer2:
mul=1
for i in l:
    mul*=i
print(mul)

4321455138000

In [56]:
#Answer3:
low=l[0]
for i in l:
    if i<low:
        low=i
print(low)

5

In [57]:
#Answer4:
high=l[0]
for i in l:
    if i>high:
        high=i
print(high)

235

In [58]:
#Answer5:
high=l[0]
secondHigh=0
for i in l:
    if i>high:
        secondHigh=high
        high=i
    elif i>secondHigh and i<high:
        secondHigh=i
print(secondHigh)

180

In [63]:
#Answer6:
n=int(input("Enter the value of n for largest elements from a list: "))

l.sort(reverse=True)
l[0:n]

Enter the value of n for largest elements from a list: 5

[235, 180, 99, 78, 9]

In [64]:
#Answer7:
for i in l:
    if i%2==0:
        print(i)

180
78
6

In [65]:
#Answer8:
for i in l:
    if i%2!=0:
        print(i)

235
99
9
7
7
5

In [66]:
#Answer9:
l3=[[],[1,2,3],[],[1,2,3,4],[],[]]
l4=[]
for i in l3:
    if(i!=[]):
        l4.append(i)
print(l4)

[[1, 2, 3], [1, 2, 3, 4]]

In [67]:
#Answer10:
l_copy=[]
for i in l:
    l_copy.append(i)
print(l_copy)

[235, 180, 99, 78, 9, 7, 7, 6, 5]

In [68]:
#Answer11:
c=0
for i in set(l):
    c=l.count(i)
    print( "{0} has occured {1} times.".format(i,c))

99 has occured 1 times.
5 has occured 1 times.
6 has occured 1 times.
7 has occured 2 times.
9 has occured 1 times.
235 has occured 1 times.
78 has occured 1 times.
180 has occured 1 times.